body {
    background: #E8DBC5;
}

.carousel-inner img {
    margin-left: 10%;
    width: 80%;
  }

#informacion #primer_dia p{
    text-align: center;
    font-size: large;
    margin-top: 10% ;
    margin-right: 35%;
    font-size: 25px;

}
#primera_palabra #primera_palabra_info p{
    text-align: center;
    font-size: large;
    margin-top: 10% ;
    margin-right: 35%;
    font-size: 25px;
}
#bautizo #bautizo_info p{
    text-align: center;
    font-size: large;
    margin-top: 10% ;
    margin-right: 35%;
    font-size: 25px;
}

#primer_anno #primer_anno_info p{
    text-align: center;
    font-size: large;
    margin-top: 10% ;
    margin-right: 35%;
    font-size: 25px;
}
header h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center ;
    color: #C3A29E;
}
