body {
    background: #E8DBC5;
}

#pagina {
    display: grid;
    grid-template-areas: "cabecera cabecera"
                          "foto menu"
                           "pie pie";
    column-gap: 20px;
    row-gap: 10px;
    grid-template-rows: 90px 650px 1fr;
    grid-template-columns: 400px 1fr;

}

.foto img {
    border-color: #FFF4E9;
    border-width: 10px;
    border-style: solid;
    position: relative;
}
header {
    background: #C3A29E;
    grid-area: cabecera;
}

#informacion img {
    border-radius: 80px;
    border-color: #FFF4E9;
    border-width: 5px;
    border-style: solid;
    position: relative;
    width:20%;
    height: 200px;
    margin-left: 150px;
}
#fecha1 {
    margin-left: 180px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 14px;
} 
#informacion p{
    text-align: center;
}
#info {
    background-color: #B185A7;
    grid-area: menu;
}

aside {
    grid-area: foto;
}

footer {
    background-color: #FFF4E9;
    grid-area: pie;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center ;
}
